<% include ../partials/header %>
<br>
<br>
<br>
<div class="container top-space-fave">
    <div class="container">
        <h2>
            Welcome
            <%= currentUser.username %>
        </h2>
        <h3>
            Address:
            <%= currentUser.home %>
        </h3>
        <h3>
            <script>
                var userFavLocations = [];
                var userStudiosLocations = [];
                var userLat = <%= currentUser.lat %>;
                var userLng = <%= currentUser.lng %>;
                var username = "<%= currentUser.username %>";
            </script>
            Lat/Lng:
            <%= currentUser.lat %>
            <%= currentUser.lng %>
        </h3>
    </div>

    <!--aa-->
    <div id="map" class="halfmap"></div>

    <!--aa-->

    <header class="jumbotron">
        <div class="container">
            <h2>My Created Studios!</h2>
        </div>
        <div class="row text-center" style="display:flex; flex-wrap: wrap;">

            <% allstudios.forEach(function(mystudio){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="<%= mystudio.image %>">
                    <div class="caption">
                        <h4>
                            <%= mystudio.name %>
                            <script>
                                userStudiosLocations.push({
                                    lat: <%= mystudio.lat %>,
                                    lng: <%= mystudio.lng %>
                                });
                            </script>
                        </h4>
                    </div>
                    <p>
                        <a href="/yoga/<%= mystudio._id %>" class="btn btn-primary">More Info</a>
                    </p>
                </div>
            </div>
            <% }); %>
        </div>

</div>
</header>


<header class="jumbotron">
    <div class="container">
        <h2>My Favorites!</h2>
    </div>
    <div class="row text-center" style="display:flex; flex-wrap: wrap;">

        <% yoga.forEach(function(yogaelement){ %>
        <script>
            userFavLocations.push({
                lat: <%= yogaelement.lat %>,
                lng: <%= yogaelement.lng %>,
                name: "<%= yogaelement.name %>",
                image: "<%= yogaelement.image %>"
            });
        </script>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <img src="<%= yogaelement.image %>">
                <div class="caption">
                    <h4>
                        <%= yogaelement.name %>
                    </h4>
                </div>
                <p>
                    <a href="/yoga/<%= yogaelement._id %>" class="btn btn-primary">More Info</a>
                </p>
            </div>
        </div>
        <% }); %>
    </div>

    </div>
</header>

<script src="/scripts/userProfile.js"></script>

<script type="text/javascript" async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcrlOjVKHhFlqVzG9Fp96FmZNYDF-0gG4&callback=initMap"></script>

<% include ../partials/footer %>