<% include ../partials/header %>
<link rel="stylesheet" href="/stylesheets/main.css">
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" rel="stylesheet">
<br>
<br>

<div class="container top-space-fave">
    <div class="container">
        <div class="user-info">
            <h1 class="welcome" style="color:#2bddcf;">
                <br>
                Welcome
                <%= currentUser.username %>!
            </h1>
            <h3>
                <strong class="big">Address:</strong>
                <%= currentUser.home %>
            </h3>
            <h3>
                <strong class="big">e-mail:</strong>
                <%= currentUser.email %>
            </h3>
        </div>
        <div>
            <h3>
                <script>
                    var userFavLocations = [];
                    var userStudiosLocations = [];
                    var userLat = <%= currentUser.lat %>;
                    var userLng = <%= currentUser.lng %>;
                    var username = "<%= currentUser.username %>";
                    var photo = "<%= currentUser.photo %>";
                </script>

                <img class="profile-pic" src="<%= currentUser.photo %>" width="150px" height="150px" />
            </h3>
        </div>

        <!--aa-->
        <div id="map" class="halfmap"></div>

        <!--aa-->

        <header class="jumbotron jumbo-2">
            <div class="container">
                <h2>My Created Studios!</h2>
            </div>
            <div class="row text-center" style="display:flex; flex-wrap: wrap;">

                <% allstudios.forEach(function(mystudio){ %>
                <div class="col-md-3 col-sm-6">
                    <div class="thumbnail">
                        <img src="<%= mystudio.image %>">
                        <div class="caption">
                            <h4>
                                <%= mystudio.name %>
                                <script>
                                    userStudiosLocations.push({
                                        lat: <%= mystudio.lat %>,
                                        lng: <%= mystudio.lng %>
                                    });
                                </script>
                            </h4>
                        </div>
                        <p>
                            <a href="/yoga/<%= mystudio._id %>" class="btn btn-primary">More Info</a>
                        </p>
                    </div>
                </div>
                <% }); %>
            </div>

    </div>
    </header>


    <header class="jumbotron jumbo-3">
        <div class="container">
            <h2>My Favorites!</h2>
        </div>
        <div class="row text-center" style="display:flex; flex-wrap: wrap;">

            <% yoga.forEach(function(yogaelement){ %>
            <script>
                userFavLocations.push({
                    lat: <%= yogaelement.lat %>,
                    lng: <%= yogaelement.lng %>,
                    name: "<%= yogaelement.name %>",
                    image: "<%= yogaelement.image %>"
                });
            </script>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="<%= yogaelement.image %>">
                    <div class="caption">
                        <h4>
                            <%= yogaelement.name %>
                        </h4>

                    </div>
                    <p>
                        <a href="/yoga/<%= yogaelement._id %>" class="btn btn-primary">More Info</a>
                    </p>
                </div>
            </div>
            <% }); %>
        </div>

</div>
</header>

<script src="/scripts/userProfile.js"></script>

<script type="text/javascript" async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcrlOjVKHhFlqVzG9Fp96FmZNYDF-0gG4&callback=initMap"></script>

<% include ../partials/footer %>