<% include ../partials/header %>

<div class="container">
    <script src="/scripts/index.js"></script>
    <!--Aa-->
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome To Yoga!</h1>
            <p>Explore yoga studios across the greater Toronto area!</p>
            <p>
                <a class="btn btn-primary btn-large" href="/yoga">View All Yoga Studios</a>
                <a class="btn btn-primary btn-large" href="/yoga/new">Add New Yoga Rating</a>
                <p>
                    <form action="/yoga" method="GET" class="form-inline">
                        <div class="form-group">
                            <input type="text" name="search" placeholder="Studio search..." class="form-control">
                            <input type="submit" value="Search" class="btn btn-default">
                        </div>

                    </form>
                </p>
                <div class="col-md-12">
                    <% if(noMatch !== null) { %>
                    <h3>
                        <%= noMatch %>
                    </h3>
                    <% } %>
                </div>
            </p>
        </div>
    </header>
    <!--aa-->
    <div id="map" class="halfmap"></div>
    <script type="text/javascript" async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcrlOjVKHhFlqVzG9Fp96FmZNYDF-0gG4&callback=initMap"></script>
    <!--aa-->
    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <div class="col-md-12">
            <% if(noMatch !== null) { %>
            <h3>
                <%= noMatch %>
            </h3>
            <p>
                <form action="/yoga" method="GET" class="form-inline">
                    <div class="form-group">
                        <input type="text" name="search" placeholder="Yoga search..." class="form-control">
                        <input type="submit" value="Search" class="btn btn-default">
                    </div>
                </form>
            </p>
            <% } %>
        </div>
        <% yoga.forEach(function(yoga){ %>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <img src="<%= yoga.image %>">
                <div class="caption">
                    <h4>
                        <%= yoga.name %>
                    </h4>
                </div>
                <p>
                    <a href="/yoga/<%= yoga._id %>" class="btn btn-primary">More Info</a>
                </p>
            </div>
        </div>
        <% }); %>
    </div>
</div>

<% include ../partials/footer %>