<% include ../partials/header %>
<!-- Icon library for adding star -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="/scripts/show.js"></script>
<!--Aa to show fav-->
<div class="row">
    <div class="col-md-3">
        <p class="lead">Yoga</p>

        <!-- <button id="favbutton">Add to favorite</button> -->

        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">

        <label for="id-of-input" class="custom-checkbox">
            <input type="checkbox" id="id-of-input" />
            <i class="glyphicon glyphicon-heart-empty"></i>
            <i class="glyphicon glyphicon-heart"></i>
            <p id="favbutton">Add to Favorites</p>
        </label>


        <div class="list-group">
            <li class="list-group-item active">Info 1</li>
            <li class="list-group-item">Info 2</li>
            <li class="list-group-item">Info 3</li>

        </div>
        <div id="map"></div>
    </div>

    <div class="col-md-9">
        <div class="thumbnail">
            <img class="img-responsive" src="<%= yoga.image %>">
            <div class="caption-full">
                <h4 class="pull-right">$
                    <%= yoga.cost %>/Day Pass</h4>
                <h4>Average Rating:
                    <% for (var i = 0; i < 5 ; i++) { %>
                    <% if (i < yoga.rating) { %>
                    <span class="fa fa-star checked"></span>
                    <%} else {%>
                    <span class="fa fa-star unchecked"></span>
                    <% } %>
                    <% }; %>
                </h4>
                <div class="list-group">
                    <li class="list-group-item active">Amenities</li>
                    <li id="amenitiesBox" class="list-group-item">
                        <% for(var i=0; i<yoga.amenities.length; i++){ %>
                        <i class="material-icons">
                            <%=yoga.amenities[i]%></i>
                        <% } %>

                    </li>
                    </li>
                </div>
                <div class="list-group">
                    <li class="list-group-item active">Classes</li>
                    <li id="amenitiesBox" class="list-group-item">
                        <% for(var i=0; i<yoga.classes.length; i++){ %>
                        <i class="material-icons">
                            <%=yoga.classes[i]%></i>
                        <% } %>

                    </li>
                    </li>
                </div>

                <div class="list-group">
                    <li class="list-group-item active">Classes Suitable for Beginners?</li>
                    <li id="amenitiesBox" class="list-group-item">
                        <% for(var i=0; i<yoga.beginners.length; i++){ %>
                        <i class="material-icons">
                            <%=yoga.beginners[i]%></i>
                        <% } %>

                    </li>
                    </li>
                </div>

            </div>
            <h4><a>
                    <%=yoga.name%></a></h4>
            <p>
                <%= yoga.description %>
            </p>
            <p>
                <em>Submitted by:
                    <%= yoga.author.username %>,
                    <%= moment(yoga.createdAt).fromNow() %></em>
            </p>
            <% if(currentUser && yoga.author.id.equals(currentUser._id)){ %>
            <a class="btn btn-warning" href="/yoga/<%= yoga._id %>/edit">Edit Yoga Rating</a>
            <form id="delete-form" action="/yoga/<%= yoga._id %>?_method=DELETE" method="POST">
                <button class="btn btn-danger">Delete Yoga Rating</button>
            </form>
            <% } %>
        </div>
    </div>
    <div class="well">
        <div class="text-right">
            <a class="btn btn-success" href="/yoga/<%= yoga._id %>/comments/new">Add New Comment</a>
        </div>
        <hr>
        <% yoga.comments.forEach(function(comment){ %>
        <div class="row">
            <div class="col-md-12">
                <strong>
                    <%= comment.author.username %></strong>
                <span class="pull-right">
                    <%= moment(comment.createdAt).fromNow() %></span>
                <div>
                    <%= comment.text %>
                    <strong> Rating:
                        <!-- <%= comment.rating %></strong> -->
                        <% for (var i = 0; i < 5 ; i++) { %>
                        <% if (i < comment.rating) { %>
                        <span class="fa fa-star checked"></span>
                        <%} else {%>
                        <span class="fa fa-star unchecked"></span>
                        <% } %>
                        <% }; %>
                        <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                        <form style="display: inline" class="pull-right" action="/yoga/<%=yoga._id%>/comments/<%=comment._id%>?_method=DELETE"
                            method="POST">
                            <button class="btn btn-xs btn-danger">DELETE</button>
                            <a href="/yoga/<%=yoga._id%>/comments/<%=comment._id%>/edit" class="btn btn-xs btn-info">EDIT</a>
                        </form>
                        <% } %>
                </div>
            </div>
        </div>
        <% }) %>
    </div>
</div>
</div>

<script>
    function initMap() {
        var lat = <%=yoga.lat %>;
        var lng = <%= yoga.lng %>;
        var center = {
            lat: lat,
            lng: lng
        };
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 8,
            center: center,
            scrollwheel: false
        });
        var contentString =
            `
      <strong><%= yoga.name %><br />
      <%= yoga.location %></strong>
      <p><%= yoga.description %></p>
    `
        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });
        var marker = new google.maps.Marker({
            position: center,
            map: map
        });
        marker.addListener('click', function () {
            infowindow.open(map, marker);
        });
    }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDVNqmxoPpZXHe89d2y12ozPDVjoLAk4hw&callback=initMap"></script>

<% include ../partials/footer %>