<% include ../partials/header %>
<!-- Icon library for adding star -->
<link href="https://fonts.googleapis.com/css?family=Raleway:400,600,700" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="/scripts/show.js"></script>
<!--Aa to show fav-->
<div style="font-family: 'Raleway', sans-serif;">
    <div class="row top-space color-container">
        <div>

            <h1 style="font-family: 'Raleway', sans-serif;" id="headerr" class="yoga-header">
                <%=yoga.name%>
            </h1>


            <div class="col-md-3 full-card">


                <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">

                <label id="favbutton" for="id-of-input" class="custom-checkbox">
                    <input type="checkbox" id="id-of-input" />
                    <i class="glyphicon glyphicon-heart-empty"></i>
                    <i class="glyphicon glyphicon-heart"></i>
                    <br>
                    <p style="font-family: 'Raleway', sans-serif;">Add to Favorites</p>
                </label>

                <!-- <div class="click" id="id-of-input">
                    <span class="fa fa-star-o"></span>
                    <div class="ring"></div>
                    <div class="ring2"></div>
                    <!-- <input type="checkbox" id="id-of-input" /> -->
                <!-- <p class="info" id="favbutton">Added to favourites!</p>
            </div> -->

                <br>
                <br>

                <br>
                <br>

                <div class="
                list-group">
                    <li class="list-group-item">
                        <%=yoga.name%>
                    </li>
                    <li class="list-group-item"><a href="<%=yoga.website%>">
                            <%=yoga.website%></a></li>
                    <li class="list-group-item">
                        <%=yoga.phone%>
                    </li>

                </div>
                <div id="map"></div>
            </div>

            <div class="col-md-9 full-card">
                <div class="thumbnail">
                    <img class="img-responsive" src="<%= yoga.image %>">
                    <div class="caption-full">
                        <h4 class="pull-right large-ish">$
                            <%= yoga.cost %>/Day Pass</h4>
                        <h4 style="font-family: 'Raleway', sans-serif;" class="large-ish">Average Rating:
                            <% for (var i = 0; i < 5 ; i++) { %>
                            <% if (i < yoga.rating) { %>
                            <span class="fa fa-star checked"></span>
                            <%} else {%>
                            <span class="fa fa-star unchecked"></span>
                            <% } %>
                            <% }; %>
                        </h4>

                        <div class="list-group">
                            <li class="list-group-item active large-ish">Amenities<span>&emsp;
                                 <% yoga.amenities.forEach(function(amenities) { %>
                                     <% if (amenities === "Parking") { %>
                                    <span class="large fa fa-car" title="Parking"></span>&emsp;
                                    <% } else if (amenities === "Wifi") { %>
                                     <span class="large fa fa-wifi" title="Wifi"></span>&emsp;
                                    <% } else if (amenities === "Lockers") { %>
                                    <span class="large fa fa-lock"  title="Locker"></span>&emsp;
                                    <% } else if (amenities === "Showers") { %>
                                     <span class="large fa fa-shower"  title="Shower"></span>&emsp;
                                    <% } else if (amenities === "Smoothie Bar") { %>
                                    <span class="large fa fa-coffee" title="Smoothie Bar"></span>&emsp;
                                    <%}%>
                                 <% }); %>
                            </span></li>
                            <li id="amenitiesBox" class="list-group-item">
                                <% for(var i=0; i<yoga.amenities.length; i++){ %>
                                <i class="material-icons">
                                    <%=yoga.amenities[i] + ","%></i>
                                <% } %>

                            </li>
                            </li>
                        </div>
                        <div class="list-group">
                            <li class="list-group-item active large-ish">Classes</li>
                            <li id="amenitiesBox" class="list-group-item">
                                <% for(var i=0; i<yoga.classes.length; i++){ %>
                                <i class="material-icons">
                                    <%=yoga.classes[i]+ ","%></i>
                                <% } %>

                            </li>
                            </li>
                        </div>

                        <div class="list-group">
                            <li class="list-group-item active large-ish">Classes Suitable for Beginners?</li>
                            <li id="amenitiesBox" class="list-group-item">
                                <% for(var i=0; i<yoga.beginners.length; i++){ %>
                                <i class="material-icons">
                                    <%=yoga.beginners[i]%></i>
                                <% } %>

                            </li>
                            </li>
                        </div>

                    </div>
                    <h4 style="font-family: 'Raleway', sans-serif;" class="large-ish">
                            Description:</h4>
                    <p>
                        <%= yoga.description %>
                    </p>
                    <p >
                        <em >Submitted by:
                            <%= yoga.author.username %>,
                            <%= moment(yoga.createdAt).fromNow() %></em>
                    </p>
                    <% if(currentUser && yoga.author.id.equals(currentUser._id)){ %>
                    <a class="btn btn-warning" href="/yoga/<%= yoga._id %>/edit">Edit Yoga Rating</a>
                    <form id="delete-form" action="/yoga/<%= yoga._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">Delete Yoga Rating</button>
                    </form>
                    <% } %>
                </div>
            </div>
                <div class="well background-box">
                <div class="text-right">
                    <a class="btn btn-success " href="/yoga/<%= yoga._id %>/comments/new">Add New Review</a>
                </div>
                <hr>
                <% yoga.comments.forEach(function(comment){ %>
                <div class="row review-size">
                    <div class="col-md-12">
                        <strong class="list-group-item active review-size">
                            <%= comment.author.username %>
                            <strong class="rating-star"> Rating:
                                <%= comment.rating %></strong>
                            <% for (var i = 0; i < 5 ; i++) { %>
                            <% if (i < comment.rating) { %>
                            <span class="fa fa-star checked"></span>
                            <%}%>

                            <% }; %>
                        </strong>
                        </strong>
                        <div class="list-group-item">
                            <span><strong>
                            <%= moment(comment.createdAt).fromNow() %>: </strong></span>
                            <%= comment.text %>
                            <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                            <form style="display: inline" class="pull-right pull-right2" action="/yoga/<%=yoga._id%>/comments/<%=comment._id%>?_method=DELETE"
                                method="POST">
                                <button class="btn btn-xs btn-danger">DELETE</button>
                                <a href="/yoga/<%=yoga._id%>/comments/<%=comment._id%>/edit" class="btn btn-xs btn-info">EDIT</a>
                            </form>
                            <% } %>
                        </div>
                    </div>
                </div>
                <span class="weird-para">test</span>
                <% }) %>
        </div>
    </h4>
     </div>
</div>
</div>



<script>
    function initMap() {
        var lat = <%=yoga.lat %>;
        var lng = <%= yoga.lng %>;
        var center = {
            lat: lat,
            lng: lng
        };
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 6,
            center: center,
            scrollwheel: false
        });
        var contentString =
            `
      <strong><%= yoga.name %><br />
      <%= yoga.location %></strong>
      <p><%= yoga.description %></p>
    `
        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });
        var marker = new google.maps.Marker({
            position: center,
            map: map
        });
        marker.addListener('click', function () {
            infowindow.open(map, marker);
        });
    }
    //comment
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDVNqmxoPpZXHe89d2y12ozPDVjoLAk4hw&callback=initMap"></script>



<% include ../partials/footer %>